[submodule "okvis"]
	path = okvis
	url = https://github.com/JzHuai0108/okvis.git
[submodule "sophus"]
	path = sophus
	url = https://github.com/stevenlovegrove/Sophus.git
[submodule "Kimera-RPGO"]
	path = Kimera-RPGO
	url = https://github.com/MIT-SPARK/Kimera-RPGO.git
	branch = master
